/* 
.hand-gesture-container{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #f7debc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand-gesture{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.personal-info{
    color: #707c87;
    font-size: 1.4rem;
}

.description{
    color: #91a0b1;
    font-size: 0.8rem;
}

.form-container{
    display: flex;
    flex-wrap: wrap;
    
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px 18px 10px 0px;
}

.label{
    font-size: 0.8rem;
    color: #91a0b1;
    font-weight: 500;
    margin-bottom: 10px;
}

.input{
    background-color: #fcfdfe;
    color: #6f8299;
    padding: 10px;
    border: 0.5px solid #91a0b1;
    border-radius: 5px;
    font-weight: 500;
}
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 5px #719ECE;
 }

.back-btn{
    background-color: transparent;
    color: #6f8299;
    font-weight: 550;
    border: none;
}

.btn-container{
    margin-top: 1.5rem;
}
.next-step-btn{
    background-color: blue;
    border: none;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 10px;
}  */