

.school-form-container{
    display: flex;
    flex-direction: column;
}

.school-input-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 8px 0 8px 0px;
}

@media (min-width: 768px){
    .school-input-container{
        width: 60%;
    }
}
