.personal-info-bg-container{
    width: 100vw;
    display: flex;
    /* min-height: 100vh; */
    /* flex-direction: row; */
    /* padding: 1.5rem; */
    background-image: linear-gradient(to bottom, #59b1d4, #ffffff);
    box-sizing: border-box;
}

.step1-container{
    display: none;
    width: 30%;
    height: 100vh;
    color: #ffffff;
    background-color: #304767;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    border-left: 10px solid #81ceeb;
    border-top: 10px solid #81ceeb;
    box-sizing: border-box;
}

.indeed-logo{
    width: 80px;
    height: 40px;
    object-fit: contain;
}

.page-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.step-page-info{
    display: flex;
    align-items: center;
    color: white;
    opacity: 0.5;
}

.step{
    color: #e9ebef;
    font-size: 1.4rem;
}

.page{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #c6d2e1;
    font-size: 0.9rem;
    border-radius: 60px;
    margin-right: 15px;
    border: 0.5px solid #72849d;
}
.info{
    color: #c6d2e1;
    font-size: 0.8rem;
}

.hr-line{
    /* width: 0%; */
    height: 25px;
    border-left: 1px dashed #c6d2e1;
    border-top: none;
    border-bottom: none;
    border-right: none;
    margin-left: 9px;

}

.form-info-bg-container{
    width: 100%;
    background-color: #fcfcfd;
    border-radius: 1rem;
    border: 10px solid #81ceeb;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 1.5rem;
}

.hand-gesture-container{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #f7debc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand-gesture{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.personal-info{
    color: #707c87;
    font-size: 1.4rem;
}

.description{
    color: #91a0b1;
    font-size: 0.8rem;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 8px 0 8px 0px;
}

.label{
    font-size: 0.8rem;
    color: #91a0b1;
    font-weight: 500;
    margin-bottom: 10px;
}

.input{
    background-color: #fcfdfe;
    color: #6f8299;
    padding: 10px;
    border: 0.5px solid #91a0b1;
    border-radius: 5px;
    font-weight: 500;
}
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 5px #719ECE;
 }

.back-btn{
    background-color: transparent;
    color: #6f8299;
    font-weight: 550;
    border: none;
}

.btn-container{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 70%;
}
.next-step-btn{
    background-color: blue;
    border: none;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 10px;
}





@media (min-width: 768px){

    .personal-info-bg-container{
        flex-direction: row;
        /* padding: 60px 60px 0px 60px; */
    }
    .step1-container{
        display: block;
    }


    .form-info-bg-container{
        width: 70%;
        border: none;
        border-top: 10px solid #81ceeb;
        border-right: 10px solid #81ceeb;
        border-radius: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 50px 50px 0px 50px;

    }

    .form-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .input-container{
        width: 40%;
        margin: 10px 18px 10px 0px;
    }
}