#form-container{
    display: flex;
    flex-direction: column;
}

#experience-info-container{
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px){
    #experience-info-container{
        flex-direction: row;
    }
}